@import './utils/variable.scss';
@import './utils/mixin.scss';
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Sacramento&display=swap');

// -------------- body ----------------------
*{
    margin: 0;
    padding: 0;
   
}


body{
   
	height: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    color: black;
    background-color: $blue-body;
    
}

#bloc_page{
    width: 100%;
    height: 100%;
 
}

@import './layout/header.scss';
// -------------- Homepage ----------------
#homepage{
    position: fixed;
}
.homepage{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    background-color: $black-opacity-home;
    
    &__squelette{
        width: 40%;
        height: 60%;
        @include tablet{
            width: 60%;
            height: 80%;
            margin-left: calc(10%);
        }   
        @include mobile{
            width: 80%;
            height: 100%;
        }
    }

    &__squel{
        width: 100%;
        text-align: center;
    }

    &__bouton{
        margin-left: calc(41%);
        @include mobile{
            margin-left: calc(35%);
        }
    }
}


// -------------- Main ---------------------
main{
    width: 100%;
}
.game {
   
    width: 90%;
    height: 350px;
    padding-top: 2%;
    padding-left: 2%;
    margin-top: 8%;
    
    &__boat{
        width: 70%;
        height: 60%;
        position: relative;
    }
       
    
    &__santa{
        width: 10%;
        height: 20%;
        position: relative;
        right: 36%;
        bottom: 13%;
    }

    &__pirat{
        position: relative;
        height: 25%;
        width: 10%;
        right: 52%;
        bottom: 14%;
    }

    &__splash{
        width: 10%;
        height: 10%;
        position: relative;
        left: 63%;
        top: 25%;
        display: none;
    }
    

}

// ---------------- result ---------------------------

#response {
   text-align: center;
   margin-bottom: 1%;
}

.info{
    width: 40%;
    height: 25%;
    border-radius: 7px / 9px;
    box-shadow: 3px 3px 8px rgb(0, 0, 0);
    color: $blue-white;
    @include typo-title(1.2em);
    font-weight: bold;
    text-shadow: 0px 2px 1px rgb(0, 0, 0);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: calc(25%);
    bottom: calc(25%);
    background-color: $black-opacity-info;
    display: none;
    #btn_ok{
        margin-top: 2%;

}
}
// ---------------- keyboard --------------------------

#keyboard{
    text-align: center;
}

.retry{
    text-align: center
}
@import './composants/bouton.scss';
@import "./layout/footer.scss";