

@mixin typo-title($size-title) {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: $size-title;
}

@mixin tablet {
    @media screen and (max-width: 900px){
        @content;
    }
}

@mixin  mobile {
    @media screen and (max-width:480px) {
        @content;
    }
}
@mixin title-media {
    @media screen and (max-width:657px) {
        @content;
    }
}
@mixin  eyes {
    
    border: 2px red solid;
    border-radius: 50%;
    position: absolute;
}