$size-title: 1.4em;
$blue-white: #99DDCC;
$black-header: #333333;
$red-title:#FF0000;
$blue-body:#E1F4F3;
$white-header: #f7f3f3;
$grey-bouton: #706C61;
$black-opacity-home: #000000ef;
$black-opacity-info: rgba(0,0,0,0.800);